#light-head {
    width: 160px;
    height: 140px;
    background-color: rgb(226, 230, 230);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

#light-stem {
    width: 50px;
    height: 100px;
    background-color: rgb(149, 186, 186);
    margin-left: 50px;
}

#orange-book {
    width: 100px;
    height: 200px;
    background-color: rgb(255, 111, 0);
}

#book-top {
    width: 100px;
    height: 20px;
    background-color: rgb(255, 111, 0);
}

#jug {
    width: 190px;
    height: 250px;
    background-color: rgb(224, 233, 233);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 200px;
}